/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Helvetica';
}

body{
  margin: 0;
}

.dark{
  background : #3a3a3a;
  color : #ffffff;
}

.divider{
  padding : .5em;
  text-align: center;
}

.container{
  //padding: 0% 5%
}
